<div class="container ">
    <div class="row  justify-content-center">
        <div class="col-md-6 card custom-card2 shadow bg-body-tertiary border border-top p-3 mb-5">
            <div class="card-body">
                <h2 class="text-center mb-5">Register</h2>

                {{ include('user/_form.html.twig') }}
                <h2 class="text-center mb-5">Register</h2>

                <a href="{{ path('app_user_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>